/* Greens */
$primary-green: #315C2B;
$secondary-green: #8DE969;

/* Oranges */
$primary-orange: #FA8334;
$primary-orange-color: #FFB483;
$secondary-orange: #F79256;

/* Greys */
$light-grey: #a9afbb;
$really-light-grey: #eee;
$dark-grey: #404040;

/* Yellows */
$primary-yellow: #fab534;

/* Reds */
$primary-red: #fa5234;
