@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Titillium+Web');

/* Heading */
$heading-font: 'Oswald', sans-serif;
/* Sub Heading */
$sub-heading-font: 'Titillium Web', sans-serif;
/* Content */
$body-font: 'Roboto Condensed', sans-serif;

