<mat-card>
  <div class="alert alert-danger" role="alert" *ngIf="message">
    {{ message }}
  </div>

  <form class="form-inline" *ngIf="!authService.getUser()">
      <mat-form-field>
        <input matInput type="text" class="form-control" placeholder="User: (type user)" name="username" #username tabindex="1">
      </mat-form-field>

    <div class="form-group">
      <mat-form-field>
          <input matInput class="form-control" placeholder="Password: (type password)" type="current-password" name="password" #password tabindex="2">
      </mat-form-field>

    </div>

    <a class="btn btn-default" (click)="login(username.value, password.value)" tabindex="3">
      Submit
    </a>
  </form>

</mat-card>
