@import '_colors';
@import 'fonts';

$border-radius: 10px 10px 0 0;

/* Profile preview */
.profile-image {
  border: 8px solid $primary-orange;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  max-width: 150px;
  min-width: 150px;
  background: #fff;
}

.profile-container {
  margin-top: -35px;
  z-index: 0;
  border-radius: $border-radius;

  .name-container {
    background: $dark-grey;
    border-radius: $border-radius;
    padding: 15px 5px 5px 5px;

    .name {
      font-weight: bold;
      font-size: 1.5em;
      font-family: $heading-font;
      color: #fff;
      padding: 0;
      margin: 0;
    }
  }

  .profile-content {
    border: 1px solid $dark-grey;
    padding: 10px;
    border-bottom: 3px dashed $primary-orange;
    border-top: 1px solid $primary-orange;

    h2 {
      font-size: 1.4em;
      color: $primary-orange;
    }

    .profile {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 25px;
    }
  }
}
