<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" opened="false" disableClose="false" closedStart="true" autoFocus="true" class="sidebar"
    #sidenav>
    <p class="text-right">
      <button mat-button class="sidebar-close" (click)="sidenavToggle()">
        <span aria-label="Close Sidebar menu"></span>
        <mat-icon>close</mat-icon>
      </button></p>

    <ul class="sidebar-menu">
      <li *ngFor="let item of menuItems" class="sidebar-item">
        <a [routerLink]="item.routerLink" routerLinkActive="active" class="sidebar-link" matRipple>
          <mat-icon class="icon sidebar-icon">{{ item.icon }}</mat-icon>
          <span class="link">{{ item.display }}</span>
        </a>
      </li>
    </ul>

    <div class="row no-margin">
      <div class="sidenav-bottom-wrapper">
        <a href="login" class="text-center">Login</a>
        <a href="register" class="text-center">Register</a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content appScrollHeader (smallHeader)="shrinkHeader($event)">
    <div class="content-container">
      <header [class]="headerClass">
        <div class="container">
          <div class="row">
            <div class="col-7 col-sm-8">
              <h2 class="logo-name"><a href="home"><span class="logo-name-span" *ngIf="headerClass !== 'header-shrink'"><span>T</span>IGER<span>P</span>AW<span>C</span>ODE</span>
                  <span><img src="assets/tiger-paw-logo.png" alt="Tiger Paw Code logo" class="logo img-fluid" /></span></a></h2>
              <small *ngIf="headerClass !== 'header-shrink'">Tales of a dyslexic coder</small>
            </div>
            <div class="col-5 col-sm-4">
              <button mat-button class="nav-item nav-link header-button" (click)="sidenavToggle()">
                <mat-icon class="menu-icon">{{ menuIcon }}</mat-icon>
              </button>
              <app-login-header class="d-none d-sm-block header-button"></app-login-header>
            </div>
          </div>
        </div>

      </header>

      <router-outlet></router-outlet>
    </div>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
