<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="over" opened="false" disableClose="false" closedStart="true" autoFocus="true" class="sidebar"
    #sidenav>
    <p class="text-right">
      <button mat-button class="sidebar-close" (click)="sidenavToggle()">
        <span aria-label="Close Sidebar menu"></span>
        <mat-icon>close</mat-icon>
      </button></p>

    <ul class="sidebar-menu">
      <li *ngFor="let item of menuItems" class="sidebar-item">
        <a [routerLink]="item.routerLink" routerLinkActive="active" class="sidebar-link" matRipple>
          <mat-icon class="icon sidebar-icon">{{ item.icon }}</mat-icon>
          <span class="link">{{ item.display }}</span>
        </a>
      </li>
    </ul>

    <div class="row no-margin">
      <div class="sidenav-bottom-wrapper">
            <a href="login" class="text-center">Login</a>
            <a href="login" class="text-center">Register</a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-container" (scroll)="onWindowScroll($event)">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2 class="logo-name"><a href="home">Tiger Paw Code</a></h2>
          </div>
          <div class="col-6 header-buttons">
              <button mat-button class="nav-item nav-link header-button" (click)="sidenavToggle()">
                  <mat-icon class="menu-icon">{{ menuIcon }}</mat-icon>
                </button>
            <app-login-header class="header-button" *ngIf="currentLocation !== 'login'"></app-login-header>

          </div>
          <div class="col-4">

          </div>
          <!--   <div class="col">

        <div class="btn-group align-right top-nav-buttons" role="group">

              <app-message-chip></app-message-chip>

            </div>

          </div>-->
        </div>
      </div>

    </header>

    <router-outlet></router-outlet>

    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
