<app-banner [banner]="banner"></app-banner>

<div class="container-fluid">

  <div class="content-block">
    <div class="container">
      <h2>What is TigerPawCode?</h2>

      <p>TigerPawCode was created as a cathartic excercise when I was diagnosed with Severe Dyslexia. I intended on
        sharing my personal experiences and daily challenges in hope it will help others in a similar position.</p>

      <h2>Who am I?</h2>

      <p>I am a Web Developer, so the majority of my experiences will be in relation to development
        but I hope that my experiences will resonate with anyone, no matter who they are and what their career path
        may be.
      </p>
    </div>
  </div>

  <div class="grey-2 content-block">
    <div class="container">
      <h2>Dyslexia</h2>

      <p>Now the first thing I need to mention is that when I was first diagnosed with very severe dyslexia, I
        thought it was impossible as literacy is something I am very confident with, to the point that people ask me
        for
        spelling advice but the truth is it affects much more than just your literacy skills.
      </p>

      <blockquote class="blockquote blockquote-right">
          <p>Dyslexia is much wider than literacy</p>
        </blockquote>

      <p>So, how does it affect me?</p>

      <p>Without going into too much detail just yet, the main issues I have are:</p>

      <ul>
        <li>Understanding & processing information.</li>
        <li>Memory - both short and long term.</li>
        <li>Struggle to plan and organise.</li>
      </ul>

      <p>I realise that it doesn't sound like they are that much of an issue but the reality is that it affects me
        greatly in many facets of my life. In terms of being a web developer it makes me feel like an imposter 90%
        of the time which leaves me with very low confidence.</p>

      <p>I constantly second guess myself, I have to look up simple code snippets that I should remember but just
        can't, I worry about colleagues asking me questions as I won't remember the answers off the top of my head
        and in an industry where you have to constantly learn it can be a real struggle...for example...I have been
        trying memorize the SOLID principles for years but if you asked me what they are this very second, I will
        probably
        only remember 3(at most!).</p>
    </div>
  </div>

  <!-- <app-subscribe></app-subscribe> -->

  <div class="content-block">
    <div class="container">
      <h2>It's not all bad news though</h2>

      <p>It's really not all back news and this site isn't to garner sympathy for dyslexia in any way.</p>

      <p>It can actually be quite a motivational tool. It kind of constantly forces this 'fight or flight' instinct no matter what challenge you are trying to overcome. For me, I am constantly trying to learn and push past my limits. It's hard but that's what makes it so rewarding in the end.</p>

      <p>I often have days where I think I should look for an easier line of work but then I
          also have days where I feel completely rewarded and feel like I have exceeded my own harsh expectations.</p>

      <blockquote class="blockquote">
        <p>I have found this condition helps drive me, motivate me and push me to work harder and harder. Ultimately,
          if I didn't put in the work and I wasn't passionate about what I do then I wouldn't be able to do it.</p>
      </blockquote>

    </div>
  </div>
</div>
