@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Titillium+Web');

.heading-main {
/* Heading */
font-family: 'Oswald', sans-serif;
}
.heading-feature {
/* Sub Heading */
font-family: 'Titillium Web', sans-serif;
}
body {
/* Content */
font-family: 'Roboto Condensed', sans-serif;
}
